
$colorSelectedStock: #0b4;
$colorStock: #eee;
$darkenPrecentage: 8%;

.stock-list {
    $stockHeight: 25px;
    $visibleStocks: 16;

    height: $stockHeight * $visibleStocks;
    overflow: scroll;
    width: 120px;
    list-style-type: none;
    padding-left: 0;

    li {
        line-height: $stockHeight;
        text-align: center;
        background-color: $colorStock;

        &:hover {
            background-color: darken( $colorStock, $darkenPrecentage );
        }

        &.selected {
            background-color: $colorSelectedStock;
            &:hover {
                background-color: darken( $colorSelectedStock, $darkenPrecentage );
            }
        }
    }
}