
$colorSelectedStock: #0b4;

.stock-list {
    $colorStock: #eee;
    $darkenPrecentage: 8%;
    $stockHeight: 25px;
    $visibleStocks: 16;

    height: $stockHeight * $visibleStocks;
    overflow: scroll;
    width: 120px;
    list-style-type: none;
    padding-left: 0;

    li {
        line-height: $stockHeight;
        text-align: center;
        background-color: $colorStock;

        &:hover {
            background-color: darken( $colorStock, $darkenPrecentage );
        }

        &.selected {
            background-color: $colorSelectedStock;
            &:hover {
                background-color: darken( $colorSelectedStock, $darkenPrecentage );
            }
        }
    }
}

.selected-stocks {
    & > span {
        margin-left: 5px;
        padding: 4px 10px;
        background-color: lighten($colorSelectedStock, 60%);
        border: 1px solid darken($colorSelectedStock, 20%);
        @include build-prefix-values(border-radius, 8px);
    }
}