<!doctype html>

<html lang="pl" ng-app="stocksApp">
<head>
    <meta charset="utf-8">
    <title>stocks-app</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/style.css">

    <!-- vendor -->
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/lodash/lodash.js"></script>
    <script src="vendor/momentjs/min/moment.min.js"></script>

    <!-- app -->
    <script src="scripts/stocksApp.js"></script>
    
    <!-- controllers -->
    <script src="scripts/controllers/mainController.js"></script>

    <!-- filters -->

    <!-- services -->
    <script src="scripts/services/stocksApiService.js"></script>
    <script src="scripts/services/yqlService.js"></script>

</head>

<body ng-controller="MainController">

filter: <input type="text" ng-model="filterStocks" />

<ul class="stock-list">
    <li
        ng-repeat=" stock in stockList | filter: filterStocks "
        ng-click="selectStock(stock)"
        ng-class="{ selected: stock.selected }"
    >
        {{ stock.code }}
    </li>
</ul>

<div class="selected-stocks">
    selected stocks:
    <span
        ng-repeat=" stock in stockList | filter: {selected:true} "
    >
        {{ stock.code }}
        <span class="close" ng-click=" selectStock(stock) ">X</span>
    </span>
</div>

<ul>
    <li ng-repeat=" row in stockData ">
        {{ row }}
    </li>
</ul>

</body>
</html>