<!doctype html>

<html lang="pl" ng-app="stocksApp">
<head>
    <meta charset="utf-8">
    <title>stocks-app</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/style.css">

    <!-- vendor -->
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/lodash/lodash.js"></script>
    <script src="vendor/momentjs/min/moment.min.js"></script>
    <!-- move to bower: -->
    <script src="http://code.highcharts.com/stock/highstock.js"></script>


    <script src="vendor/highmaps-release/modules/exporting.js"></script>

    <!-- app -->
    <script src="scripts/stocksApp.js"></script>
    
    <!-- controllers -->
    <script src="scripts/controllers/mainController.js"></script>

    <!-- filters -->

    <!-- services -->
    <script src="scripts/services/stocksApiService.js"></script>
    <script src="scripts/services/yqlService.js"></script>
    <script src="scripts/services/csvService.js"></script>

    <!-- directives -->
    <script src="scripts/directives/stockChart.js"></script>
</head>

<body ng-controller="MainController">

<div class="stocks-menu">
    filter: <input type="text" ng-model="filterStocks" />

    <ul class="stock-list">
        <li
            ng-repeat=" stock in stockList | filter: {Symbol: filterStocks} "
            ng-click="selectStock(stock)"
            ng-class="{ selected: stock.selected }"
        >
            {{ stock.Symbol }}
        </li>
    </ul>
</div>

<div stock-chart class="stock-chart" data="stockData"></div>

<div class="selected-stocks">
    selected stocks:
    <span
        ng-repeat=" stock in selectedStocks "
    >
        {{ stock.info.Symbol }}
        <span class="close" ng-click=" selectStock(stock.info) ">X</span>
    </span>
</div>


<!-- 
<ul>
    <li ng-repeat=" row in stockData ">
        {{ row['Date'] }}
        {{ row['Adj Close'] }}
    </li>
</ul> -->

</body>
</html>